# ------ Loaded ------
django
djangorestframework
django-cors-headers
strawberry-graphql-django
strawberry-django-auth
django-choices-field
djoser
# ------ Not Loaded ------
graphene-django
apollo
axios