$color-header: #ffe6a8;
$color-header-hover: #ffcc00;

$color-text: white;

.color-text{
  color: $color-text;
}

.color-header{
  color: $color-header;
}

.color-header:hover{
  color: $color-header-hover;
}