{% if user != request.user %}
    {% if is_following %}
        <button id="unfollow-btn" class="button-74" data-url="{% url 'unfollow_user' user.username %}">unfollow</button>
    {% else %}
        <button id="follow-btn" class="button-74" data-url="{% url 'follow_user' user.username %}">follow</button>
    {% endif %}
{% endif %}


{% block jscript %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const followButtons = document.querySelectorAll('#follow-btn');
    const unfollowButtons = document.querySelectorAll('#unfollow-btn');

    followButtons.forEach(button => {
        button.addEventListener('click', function() {
            fetch(this.dataset.url, {
                method: 'POST',
                headers: { 'X-CSRFToken': getCookie('csrftoken') }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'followed') {
                    this.textContent = 'Unfollow';
                    this.classList.remove('follow-btn');
                    this.classList.add('unfollow-btn');
                }
            });
        });
    });

    unfollowButtons.forEach(button => {
        button.addEventListener('click', function() {
            fetch(this.dataset.url, {
                method: 'POST',
                headers: { 'X-CSRFToken': getCookie('csrftoken') }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'unfollowed') {
                    this.textContent = 'Follow';
                    this.classList.remove('unfollow-btn');
                    this.classList.add('follow-btn');
                }
            });
        });
    });
});

</script>
{% endblock %}