{% extends 'template-Wnav.html' %}


{% block content %}
    <div class="container mt-5 font-8bit">
        <div class="row mb-3">
            <h1 class="d-block" id="username">[USERNAME]</h1>

            <h3 style="background-color: white; display: block" id="about-me">[ABOUT ME]</h3>

        </div>

        <div class="row mb-3">

            <div class="col-8" style="background-color: #006b1b" id="user-info">
                CREDITS
                <div class="row">HELLO</div>
            </div>

            <div class="col-4 text-center" style="background-color: #2b542c" id="user-contact">
                CONTACT
            </div>
        </div>

    </div>
{% endblock %}