{% extends 'template.html' %}

{% block content %}
    <div class="container text-center font-8bit mt-5 position-relative">
        <div class="position-absolute top-50 start-50 translate-middle" style="margin-top: 25% ">
            <form>
            {% csrf_token %}

                <div class="mb-4">
                    <h1>Join Us!</h1>
                </div>

                    <div style="font-family: lores-9-plus-wide, sans-serif;
                        font-weight: 400;
                        font-style: normal;
                        font-size: large;
                        font-stretch: semi-expanded;">

                        <div class="mb-3 form-group">
                             <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                             <input type="text" name="{{ form.username.name }}"
                                    id="{{ form.username.id_for_label }}" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                            <input type="text" name="{{ form.password1.name }}"
                                    id="{{ form.password1.id_for_label }}" class="form-control" />
                        </div>

                        <div class="mb-5">
                            <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                            <input type="text" name="{{ form.password2.name }}"
                                    id="{{ form.password2.id_for_label }}" class="form-control" />
                        </div>

                    </div>

                <div class="mb-3">
                   <button type="submit" class="btn btn-outline-light">Submit</button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}

