{% extends 'template.html' %}

{% block content %}
    <div class="container text-center font-8bit mt-5 position-relative">
        <div class="position-absolute top-50 start-50 translate-middle" style="margin-top: 25% ">
            <form>

                <div class="mb-3">
                    <h1>Join Us!</h1>
                </div>

                <div class="mb-3">
                    USERNAME
                </div>

                <div class="mb-3">
                    PASSWORD
                </div>

                <div class="mb-3">
                    CONFIRM PASSWORD
                </div>

                <div class="mb-3">
                    SIGN UP BUTTON
                </div>

            </form>
        </div>
    </div>
{% endblock %}

