{% extends 'template-Wnav.html' %}


{% block content %}
    <div class="container mt-5 font-8bit">
        <div class="row mb-3">
            <h1 class="d-block text-center" id="username"> < {{ user.username }} > </h1>

            <h3 style="background-color: white; display: block" id="about-me">[ABOUT ME]</h3>

        </div>

        <div class="row mb-3">

            <div class="col-8" style="background-color: #006b1b" id="user-info">
                CREDITS
                <div class="row">HELLO</div>
            </div>

            <div class="col-4 text-center" style="background-color: #2b542c" id="user-contact">

                {% if user != request.user %}
                     {% if is_following %}
                        <a href="{% url 'unfollow_user' user.username %}">Unfollow</a>
                    {% else %}
                        <a href="{% url 'follow_user' user.username %}">Follow</a>
                    {% endif %}
                {% endif %}


                <div class="follow">
                    <h2>Followers ({{ user.followers.count }})</h2>
                    <ul>
                        {% for follower in user.followers.all %}
                            <li>{{ follower.follower.username }}</li>
                        {% endfor %}
                    </ul>

                    <h2>Following ({{ user.following.count }})</h2>
                    <ul>
                        {% for following in user.following.all %}
                            <li>{{ following.following.username }}</li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>

    </div>
{% endblock %}