{% load static %}

{% if user.is_authenticated %}
<span class="actions justify-content-start">
    <small>
        <a class="feed-link-modifier  px-1 mx-2"
                href="#"> o </a>
    </small>

    <small>
        <a class="feed-link-modifier px-1 mx-2"
                href="#"> x </a>
    </small>

    <small>
        {% if user in post.likes.all %}
            <small>
                <a class="feed-link-modifier px-1 mx-2" href="{% url 'like_post' post.id %}"> - </a>
            </small>
        {% else %}
            <small>
                <a class="feed-link-modifier px-1 mx-2" href="{% url 'like_post' post.id %}"> + </a>
            </small>
        {% endif %}
    </small>
</span>
{% endif %}
