{% load static %}
{% block head %}
    <style>
    .l-modifier{
        text-decoration: none;
        color: black;
    }
    </style>
{% endblock %}

<button class="button-74">
    <a class="l-modifier" href="{% url 'likes' %}">Likes</a>
</button>

<button class="button-74">
    <a class="l-modifier" href="{% url 'likes' %}">Likes</a>
</button>

<button class="button-74">
    <a class="l-modifier" href="{% url 'likes' %}">Likes</a>
</button>

<button class="button-74">
    <a class="l-modifier" href="{% url 'likes' %}">Likes</a>
</button>
