{% load static %}
{% block head %}
    <style>
    .l-modifier{
        text-decoration: none;
        color: black;
    }
    </style>
{% endblock %}

{% if user.is_authenticated %}

<button class="button-74">
    <a class="l-modifier" href="{% url 'likes' %}">Likes</a>
</button>

<button class="button-74">

</button>

<button class="button-74">

</button>

<button class="button-74">

</button>

{% else %}
<div class="flex-column d-flex text-center">
    <h1>Wanna Join The Club?</h1>

    <button class="button-74 mx-5">
        <a class="l-modifier" href="{% url 'sign-up' %}">Join Us</a>
    </button>

    <h1>Forgot to Log In?</h1>

    <button class="button-74 mx-5">
        <a class="l-modifier" href="{% url 'sign-in' %}">Log In</a>
    </button>
</div>
{% endif %}

