html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(41,41,41);
}

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: beige;
}

.silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: beige;
}

.silkscreen-bold {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    color: beige;
}

/*<uniquifier>: Use a unique and descriptive class name*/
/*<weight>: Use a value from 100 to 700*/

.antonio-banderas {
    font-family: "Antonio", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: beige;
}

